.highlight {
	background: #fffcce
}

#search1 {
	position: fixed;
	border: 3px solid rgb(144, 144, 144);
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 2px 2px;
	padding: 3px 3px 2px 3px;
	z-index: 1;
	display: none;
}

#indicator {
	position: fixed;
	display: none;
	z-index: 1;
}